*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(2, 14, 25);
    font-family: Times, serif;
    letter-spacing: 1.5px;
    max-width: 1000px;
}


.container{
    background-color: grey;
    width: 800px;
    margin: 20px 30px;
    max-width: 1000px;
    height: auto;
    overflow-x: hidden;
}

header blockquote{
    background-color: whitesmoke;
    padding: 30px 30px;
    border: 1px solid transparent;
    font-family: 'Times New Roman';
    margin-right: 100px;
    border-radius: 10px;
}

header h3{
    margin-bottom: 20px;
}

nav{
    font-size: 20px;
    margin: 10px;
}

nav a{
    padding: 10px;
    transition: .4s ease;
    border: 1px solid transparent;
    border-radius: 3px;
}

nav a:hover {
    background: rgb(159, 190, 240);
}

header {
    padding: 30px;
    width: 100%;
    text-align: center;
}

h1{
    color: rgb(11, 11, 105);
    margin-bottom: 20px;
}

h2,h3{
    text-align: center;
}

.grandTours{
    display: flex;
    flex-wrap: wrap;
    font-family: 'san-serif';
    margin: 10px;
}

.grandTours section{
    flex: 240px;
    padding: 10px;
    border: 1px solid lightblue;
    margin: 5px;
    border-radius: 10px;
}

.yJersey {
    color: yellow;
    background-color: black;
}

.pJersey {
    color: rgb(236, 119, 138);
    background-color: black;
}

.rJersey {
    color: red;
    background-color: black;
}

.otherRaces{
    color: white;
    background: black;
}

main .grandTours h4{
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
}

.biosect{
    margin: 10px;
    font-family: 'Times New Roman';
}

main .biosect h2{
    font-size: 30px;
    padding-bottom: 15px;
  
}

main .biosect p {
    margin: 10px ;

}

main #achievements,#Allwins{
    font-size: 30px;
    padding-top: 15px;
}

main #achievements{
    padding-bottom: 20px;
}

main h3{
    padding-bottom: 15px;
}

main #Allwins  {
    padding-bottom: 15px;
    margin-top: 40px;
}
 
main .container .theMyth{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: grey;
}

main .container .theMyth section{
    padding: 30px;
    flex: 250px;
    border: 1px solid lightblue;
    margin: 5px;
    border-radius: 10px;
    
}

main .container .theMyth section figure img{
    width: 300px;
    height: 400px;
    border: 1px solid transparent;
}

main .container .theMyth .voided{
  color: #fff;
}

main .container .theMyth .voided h5 {
    color: rgb(194, 16, 16);
    background-color: rgb(13, 13, 48);
}

main .container .theMyth h5 {
    text-align: center;
    background-color: white;
    border-radius: 40px;
    color: blue;
    margin-bottom: 30px;
    font-size: 20px;
    border: 1px solid transparent;
}

.imageload{
    border-radius: 10px;
}

#Gracias p {
    font-size: 25px;
    margin-bottom: 15px ;
    margin-top: 15px;
}

#Gracias {
    border-top-width: 15px;
    text-align: center;
    width: 100%;
}

footer{
    text-align: center;
}

nav a{
    text-decoration: none;
}

.title{
    font-size: 40px;
}

header h3{
    color: white;
}

/* large screen */
@media(max-width:1024px){
    .container {
            background-color: grey;
            margin: 20px auto;
            height: auto;
            overflow-x: hidden;
        }
    
        blockquote {
            background-color: whitesmoke;
            padding-bottom: 30px;
            padding-top: 30px;
            border: 1px solid transparent;
            font-family: 'Times New Roman';
            margin: 0 30px;
            border-radius: 20px;
            width: 100%;
        }

        header {
            width: 100%;
            text-align: center;
        }

}

@media (max-width: 920px){
    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

    main .container .theMyth section figure img {
            width: 700px;
            height: 500px;
    
        }
    body {
            letter-spacing: 1.5px;
            width: 700px;
            margin: 0 auto;
        }
        
    .container {
            width: 100%;
            margin: 30px auto;
            height: 100%;
            overflow-x: hidden;
        }
}

/* Medium screen */

@media (max-width: 768px) {
    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

    body {
        letter-spacing: 1.0px;
        width: 767px;
        margin: 0 auto;
    }

    .container {
        width: 100%;
        margin: 10px auto;
        height: auto;
        overflow-x: hidden;
    }

    blockquote {
        
        padding-bottom: 20px;
        padding-top: 20px;
        margin-right: 30px;
        border: 1px solid transparent;
        margin: 10px;
        border-radius: 5px;
    }

    nav {
        font-size: 15px;
        margin: 10px;
    }

    nav a {
        padding: 10px;
        transition: .4s ease;
        border: 1px solid transparent;
        border-radius: 2px;
    }

    header {
        width: 100%;
        text-align: center;
    }

    h1 {
        margin-bottom: 15px;
    }

    h2,
    h3 {
        text-align: center;
    }

    .grandTours {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'san-serif';
        margin: 5px;
    }

    .grandTours section {
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
    }

    main .grandTours h4 {
        text-align: center;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .biosect {
        margin: 10px;
    }

    main .biosect h2 {
        font-size: 17px;
        padding-bottom: 10px;

    }

    main .biosect p {
        margin: 10px;

    }

    main #achievements,
    #Allwins {
        font-size: 15px;
        padding-top: 10px;
    }

    main #achievements {
        padding-bottom: 10px;
    }

    main h3 {
        padding-bottom: 20px;
    }
    main .container .theMyth .voided h5{
        padding: 20px;
    }
    main .container #Allwins {
        padding-bottom: 10px;
        margin-top: 25px;
    }

    main .container .theMyth {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        justify-content: center;
        
    }

    main .container .theMyth section {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        text-align: center;

    }

    main .container .theMyth section figure img {
        width: 100%;
        height: 200px;
        
    }

    main .container .theMyth h5 {
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .imageload {
        border-radius: 10px;
    }

    #Gracias p {
        font-size: 17px;
        margin-bottom: 12px;
        margin-top: 12px;
    }

    #Gracias {
        border-top-width: 10px;
        text-align: center;
        width: 100%;
    }

    .container footer {
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: 10px;
    }

    .container footer p{
        
        width: 100%;
        height: 60% ;
        margin: 10px;
    }


    .title {
        font-size: 20px;
    }

}

@media (max-width: 426px){
    * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

    body {
            letter-spacing: 0.9px;
            width: 100%;
            margin: 0 auto;
        }
    
    
        .container {
            width: 100%;
            padding: 0 30px;
            margin: 10px auto;
            height: auto;
            overflow-x: hidden;
        }
        blockquote {
            padding-bottom: 10px;
            padding-top: 10px;
            border: 1px solid transparent;
            margin: 20px;
            border-radius: 5px;
            width: 100%;
            margin-right: 30px;
        }

        header {
            width: 100%;
            text-align: center;
            margin: 10px auto;
           
        }
        nav {
        font-size: 20px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .grandTours {
        display: grid;
        grid-template-columns: 1fr;
        font-family: 'san-serif';
        margin: 5px;
    }
    main .container .theMyth{
        border-radius: 10px;
        display: block;
    }

    main .container .theMyth section h5{
        padding: 3px;
    }

    main .container .theMyth section figure img {
        width: 100%;
        height: 300px;
    
    }
    .container footer {
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: 10px;
    }
        
    .container footer p {
        
        width: 100%;
        margin: 10px;
    }
        
        
    .title {
        font-size: 20px;
    }
        
    iframe {
        width: 80%;
        height: 70%;
    }

}

@media (max-width: 376px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        letter-spacing: 1.0px;
        max-width: 376px;
        margin: 0 auto;
    }


    .container {
        width: 100%;
        margin: 10px auto;
        height: auto;
        overflow-x: hidden;
    }

    blockquote {
        padding-bottom: 10px;
        padding-top: 10px;
        border: 1px solid transparent;
        margin: 10px;
        border-radius: 5px;
        width: 100%;
        text-align: center;
        
    }

    nav {
        font-size: 17px;
        margin: 10px;
    }

    nav a {
        padding: 15px;
        border-radius: 2px;
    }

    header {
        width: 100%;
        text-align: center;
    }

    h1 {
        margin-bottom: 10px;
    }

    h2,
    h3 {
        text-align: center;
    }

    .grandTours {
        display: grid;
        grid-template-columns: 1fr;
        font-family: 'san-serif';
        margin: 5px;
    }

    .grandTours section {
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
    }


    main .grandTours h4 {
        text-align: center;
        border-radius: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }

    .biosect {
        margin: 10px;
    }

    main .biosect h2 {
        font-size: 15px;
        padding-bottom: 10px;

    }

    main .biosect p {
        margin: 10px;

    }

    main #achievements,
    #Allwins {
        font-size: 15px;
        padding-top: 10px;
    }

    main #achievements {
        padding-bottom: 10px;
    }

    main h3 {
        padding-bottom: 10px;
    }

    main #Allwins {
        padding-bottom: 10px;
        margin-top: 25px;
    }

    main .container {
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    
    }

    main .container #Allwins{
        border-bottom: 2px dotted black;
    }

    main .container .theMyth {
        padding: 10px;

    }

    main .container .theMyth{
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        display: block;
        border-radius: 10px;
    }

    main .container .theMyth section {
        width: 100%;
        padding: 10px;
        margin: 10px auto;
        border: 1px solid lightblue;
        border-radius: 10px;
    }

    main  .container .theMyth section figure img {
        width: 100%;
        height: 150px;

    }

    main  .container .theMyth section h5 {
        width: 100%;
        text-align: center;
        background-color: black;
        color: #fff;
        border-radius: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        padding: 10px;
    }

    .imageload {
        border-radius: 10px;
    }

    #Gracias p {
        font-size: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #Gracias {
        border-top-width: 10px;
        text-align: center;
        width: 100%;
    }

    .container footer {
        text-align: center;
        justify-content: center;
        width: 2px;
        margin: 10px;
    }

    .container footer p {

        width: 350px;
        margin: 10px;
    }


    .title {
        font-size: 20px;
    }

    iframe {
        width: 80%;
        height: 70%;
    }
}

@media (max-width: 350px){
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
                letter-spacing: 0.9px;
                width: 100%;
            }
        
        
        .container {
                width: 100%;
                margin: 10px auto;
                height: auto;
                overflow-x: hidden;
            }
        
        blockquote {
                padding-bottom: 10px;
                padding-top: 10px;
                border: 1px solid transparent;
                margin: 10px;
                border-radius: 5px;
                width: 100%;
            }
        
        nav {
                font-size: 10px;
                margin: 10px;
            }
        
        nav a {
                padding: 10px;
                border-radius: 2px;
            }
        
        header {
                width: 100%;
                text-align: center;
            }
        
        h1 {
                margin-bottom: 10px;
            }
        
        h2,
        h3 {
                text-align: center;
            }
        
        .grandTours {
                display: grid;
                grid-template-columns: 1fr;
                font-family: 'san-serif';
                margin: 5px;
            }
        
        .grandTours section {
                padding: 10px;
                margin: 5px;
                border-radius: 5px;
            }
        
        
        main .grandTours h4 {
                text-align: center;
                border-radius: 10px;
                margin-bottom: 10px;
                padding: 10px;
            }
        
        .biosect {
                margin: 10px;
            }
        
        main .biosect h2 {
                font-size: 15px;
                padding-bottom: 10px;
        
            }
        
        main .biosect p {
                margin: 10px;
        
            }
        
        main #achievements,
        #Allwins {
                font-size: 15px;
                padding-top: 10px;
        }
        
        main #achievements {
                padding-bottom: 10px;
            }
        
        main h3 {
                padding-bottom: 10px;
            }
        
        main .container #Allwins {
                padding-bottom: 10px;
                margin-top: 25px;
            }
        
        main .container .theMyth {
                padding: 10px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;
                justify-content: center;
        
            }
        
        main .container .theMyth section {
                padding: 10px;
                gap: 10px;
                margin: 5px;
                border-radius: 10px;
        
            }
        
        main .container .theMyth section figure img {
                width: 100%;
                height: 150px;
        
            }
        
        
        
        main .container .theMyth h5 {
                text-align: center;
                border-radius: 20px;
                margin-bottom: 20px;
                font-size: 15px;
                padding: 10px;
            }
        
        .imageload {
                border-radius: 10px;
            }
        
        #Gracias p {
                font-size: 15px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        
        #Gracias {
                border-top-width: 10px;
                text-align: center;
                width: 100%;
            }
        
        .container footer {
                text-align: center;
                justify-content: center;
                width: 2px;
                margin: 10px;
            }
        
        .container footer p {
        
                width: 350px;
                margin: 10px;
            }
        
        
        .title {
                font-size: 20px;
            }
        iframe{
                width: 80%;
                height: 70%;
            }
}
