* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#achievement {
    background-color: blanchedalmond;
    text-align: center;
}

.yJersey{
    color: yellow;
    background: black;
}

.pJersey {
    color: rgb(236, 119, 138);
    background: black;
}
.rJersey {
    color: red;
    background: black;
}

.classics{
    background: black;
    color: white;
}

.etapa{
    background: black;
    color: white;
}

.crits{
    background: black;
    color: white;
}

body {
    font-family: Times, serif;
    background: rgb(216, 215, 223);
    width: 100%;
    text-align: center;
  
}

footer {
    text-align: center;
}


h2 {
    text-align: center;
}

h3 {
    color: #3911be;
}
h4{
    width: 40%;
}

h5 {
    color: white;
    background: black;
    width: 25%;
    border-radius: 50%;
}

header>.title {
    margin-bottom: 0px;
}

body #bio {
    padding: 0px 0.5rem;
    text-align: left;
}

nav{
    background: #22bcd3;
}

#header {
    
    width: 100%;
    text-align: center;
    background-color: rgb(216, 215, 223);
}

#tribute {
    display: grid;
   

}

#tribute blockquote {
    text-align: left;
    
}

#tribute img {
    width: 100%;
}



#bio>h2 {
    margin-bottom: 1rem;
    font-size: auto;
}

#bio>p {
    font-size: auto;
  
}

#bio>hr {
    margin-top: 1px;
}

#theMyth{
    background-color: rgb(216, 215, 223);
}

#Gracias{
    background-color:#22bcd3;
    border-top-width: 15px ;
}

#Gracias p{
    font-size: large;
}
